.page-import.page-step2{:data=>{:importurl => '/install/submit/step2'}}
  .tip
    %label 准备导入公共资源分类
    .import-action
      %a.import{:href=>"javascript:;"} 导入
    %a.submit{:href=>'/install/step3', :style=>"display:none;"} 下一步
  .import-info{:style=>"display:none;background:black;"}

