.page-import.page-step3{:data=>{:importurl => '/install/submit/step3'}}
  .tip
    %label 准备导入自定义的学生属性
    .import-action
      %a.import{:href=>"javascript:;"} 导入
    %a.submit{:href=>'/install/step4', :style=>"display:none;"} 下一步
  .import-info{:style=>"display:none;background:black;"}

