- title = t('common.site.title.app')

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'error' do
  = render_cell :layout, :topnav, :user => current_user

  .page-error-page
    .box
      .code 404
      .info= message
      .back
        %a.btn.inverse{:href => '/'}
          %i.icon-chevron-left.icon-white
          %span 返回首页

    .exception
      .message= exception.message
      - if !Rails.env.production?
        - exception.backtrace.each do |m|
          %div= m