.page-file-show
  .file-name= @media_resource.name
  - file_entity = @media_resource.file_entity
  - if file_entity.is_ppt?
    - if file_entity.converting?
      .info 在线浏览正在生成中
    - elsif file_entity.convert_success?
      = file_entity.convert_ppt_url
    - else
      = link_to "重新转码","javascript:;"


