- case @model

  - when nil
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li.active 课程管理

  - when Course
    :ruby
      course = @model
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li
          %a{:href => '/manage/courses'} 课程管理
          %span.divider /
        %li.active= course.name

  - when Chapter
    :ruby
      chapter = @model
      course = chapter.course
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li
          %a{:href => '/manage/courses'} 课程管理
          %span.divider /
        %li
          %a{:href => "/manage/courses/#{course.id}"}= course.name
          %span.divider /
        %li.active= chapter.title