- content_for :header do
  %h1 首页
  .page-desc 汇总了你需要关注的各种信息

.page-dashboard
  .mainp66
    - if current_user.followers.blank?
      = render_cell :follow, :no_follow, :user => current_user
      / = render_cell :timeline, :public

    .dashborad-stats
      .page-chart.all-courses-punch-card{:data => {:url => '/charts/courses/all_courses_punch_card'}}

  .sidep33
  .clearfix