- content_for :header do
  %h1 计划
  .page-desc 计划与统计数据

.page-plan
  .mainp66
    .dashborad-stats
      .page-chart.all-courses-punch-card{:data => {:url => '/charts/courses/all_courses_punch_card'}}

  .sidep33
  .clearfix