.page-user-page-head
  .headbg= user_page_head_bg user
  .headdata
    .avatar
      .ava= avatar user, :large
      - if user == current_user
        %a.edit{:href => '/account/avatar'} 修改我的头像

    .ct
      %h2.name= user.name
      .joined.quiet #{user.created_at} 加入
    .clearfix