.page-user-page-answers
  .cpart
    %h3 #{@user.name}回答的问题
    - questions = @answers.map(&:question)
    = render_cell :questions, :list, :questions => questions, :user => @user
    = paginate @answers