.page-user-course-applies
  .applies
    = page_data_table :'course-applies', @applies, :striped, :bordered do |table|
      - table.add_column :course do |apply|
        = course_link apply.course
      - table.add_column :status do |apply|
        = course_apply_status apply
      - table.add_column :updated_at

    = paginate @applies