.content-header
  %h1 添加知识问题

  - KnowledgeQuestion::KINDS.each do |en, zh|
    - path = new_knowledge_question_path(:kind => en)
    = link_to zh, path, :class => "btn success-flat"

.knowledge-questions
  - @questions.each do |question|
    .knowledge-question
      = link_to edit_knowledge_question_path(question) do
        = question.kind(:zh => true)
        = question.title
