.ls
  - if R::INTERNET
    .logo
    .mindmap
      .pp
        %p
          %span 旧思维导图站请访问域名
          %a{:href => 'http://tu.mindpin.com'} http://tu.mindpin.com
        %p
          %span 新旧站账号目前暂不通用


  - if R::INHOUSE
    .logo-inhouse
    .logo-3rd