- if @user.present?
  .page-medal-notice{:data => {:'user-id' => @user.id}}
    .medal{:style => 'display:none;'}
      .icon
      .got 你获得了新的徽章！
      .name 旅途的第一步
      .desc 成功完成一个编程教学小节下的所有练习
      .data 通过章节：测试一下
      %a.close{:href => 'javascript:;'}
        %i.icon-remove-sign