.page-search-bar
  .inner
    %a.homepage{:href => '/'} 首页
    .sf
      %input{:name => :q, :type => :text}
      %a.btn.info{:href => 'javascript:;'}
        %i.icon-search.icon-white
    .usri
      .name= @user.name
      .avatar= avatar @user, :small