.page-sidebar
  - if @user.present?
    - if @user.is_admin?
      = simple_navbar :admin, :as_list, :with_icon
    - elsif @user.is_manager?
      = simple_navbar :manager, :as_list, :with_icon
    - elsif @user.is_teacher?
      = simple_navbar :teacher, :as_list, :with_icon
    - elsif @user.is_student?
      = simple_navbar :student, :as_list, :with_icon