.page-top-nav
  - if @user.present?
    = page_navbar(:fixed_top, :color_inverse) do |navbar|
      - navbar.add_item('<i class="icon-home icon-white"></i>首页'.html_safe, '/')
      - navbar.add_item(@user.name, "/users/#{@user.id}")
      - navbar.add_item('账号设置', '/account/edit')
      - navbar.add_item('退出登录', '/account/sign_out')
  - else
    = page_navbar(:fixed_top, :color_inverse) do |navbar|
      - navbar.add_item('<i class="icon-home icon-white"></i>首页'.html_safe, '/')