= page_navbar(:fixed_top, :color_inverse) do |navbar|
  - navbar.add_item('<i class="icon-home icon-white"></i>首页'.html_safe, '/admin')
  - navbar.add_item('设置管理员密码', '/account/edit')
  - navbar.add_item('退出登录', '/account/sign_out')