.page-sync-sites
  - if @user.is_binded_weibo?
    - info = @user.get_weibo_bind_info
    - name = info['name']
    - url = info['urls']['Weibo']
    .site.weibo
      .icon
      .name 新浪微博
      .user= link_to "（#{name}）", url

  - if @user.is_binded_github?
    - info = @user.get_github_bind_info
    - name = info['name']
    - url = info['urls']['GitHub']
    .site.github
      .icon
      .name GitHub
      .user= link_to "（#{name}）", url