.page-show-javascript-steps{:data => {:'course-ware-id' => params[:id]}}
  %h1 Javascript Steps

  .jsconsole{:style => 'height:300px;width:400px;border:1px solid #ccc;overflow:auto;'}
  %input.jsprompt{:type => 'text'}
