- content_for :header do
  %h1 
    %i.icon-tag
    %span 课程标签：#{@tagname}

.page-tag-show.courses
  .mainp66
    .cpart.tag-courses
      %h3.cp1 课程列表
      .clearfix

      - if @courses.present?
        .cs{:style => 'margin:0 -5px;'}
          - @courses.each do |course|
            = render_cell :course, :card, :course => course, :user => current_user
          
      - else
        %h2 该标签下暂时没有内容

  .sidep33
    .pblock
      = render_cell :tags, :course_base