- content_for :header do
  %h1 同步到社交网站

.page-account-sync
  - if flash[:error].present?
    .error-info
      = flash[:error]

  - if current_user.is_oauth_sign_temp_user?
    .you-must-complete-your-info
      %p 
        %span 由于你使用第三方网站账号直接登录本网站，在设置与其他第三方网站的同步绑定之前，
      %p 
        %span 你需要在
        %span= link_to '基础信息设置页面', '/account/edit'
        %span 补全你的邮箱，本站登录密码等用户信息。

  - else
    .site.weibo
      .icon
      .name 新浪微博
      - if !current_user.is_binded_weibo?
        %a.btn.follow.small{:href => '/auth/weibo'} 绑定
      - else
        - if current_user.binded_weibo_is_expired?
          .expired （认证过期）
          %a.btn.follow.small{:href => '/auth/weibo'} 绑定
        - else
          - info = current_user.get_weibo_bind_info
          - name = info['name']
          .user （#{name}）
          %a.btn.unfollow.small{:href => '/auth/weibo/unbind', :data => {:method => :post}} 取消绑定

    .site.github
      .icon
      .name GitHub
      - if !current_user.is_binded_github?
        %a.btn.follow.small{:href => '/auth/github'} 绑定
      - else
        - if current_user.binded_github_is_expired?
          .expired （认证过期）
          %a.btn.follow.small{:href => '/auth/github'} 绑定
        - else
          - info = current_user.get_github_bind_info
          - name = info['name']
          .user （#{name}）
          %a.btn.unfollow.small{:href => '/auth/github/unbind', :data => {:method => :post}} 取消绑定