- content_for :header do
  %h1 教师教学评价

.page-surveys-index
  - c_user = current_user

  = page_tile :'surveys-list', @surveys do
    - add :title do |su|
      %a{:href => "/surveys/#{su.id}/select_teacher"}= truncate_u(su.title, 140)
    - add_foot :updated_at do |su|
      发布于 #{su.updated_at}

    - context do |su|
      - add :ops do
        %a.btn.success{:href => "/surveys/#{su.id}/select_teacher"}
          %i.icon-pencil.icon-white
          %span 开始填写调查