-#use 用户基本信息设置
-#see 用户设置->密码设置


-htitle '修改密码'

.page-model-form
  .page-setting
    = flash_info
    = form_for current_user,:url=>"/auth/setting/password", :html=>{:method=>:put} do |f|
      .field.need
        %label 现在的密码
        =password_field_tag :old_password, ''
      .field.need
        %label 新密码
        =password_field_tag :new_password, ''
      .field.need
        %label 再次输入新密码
        =password_field_tag :new_password_confirmation, ''
      .field
        =submit_tag "确定"

  .page-avatar-setting-link
    = link_to '设置基本信息', '/auth/setting'
    = link_to '设置头像', '/auth/setting/avatar'