- content_for :header do
  %h1 课程
  .page-desc 浏览全部课程

.page-courses-index
  .hot-courses.2week
    %h3.cp 最近两周的热门课程

    :ruby
      courses = Course.top_interactive_sums_of(Date.today, Date.today - 13).limit(4)
    .courses
      - courses.each do |course|
        = render_cell :course, :smallcard, :course => course, :user => current_user

  .mainp75
    .cpart.all-courses
      %h3 课程浏览
      - Course::BASE_TAGS.each do |bt|
        :ruby
          tagname = bt
          courses = Course.by_tag(tagname).limit(10)

        - if courses.present?
          .tag-courses
            .tagname
              %i.icon-tag
              %a{:href => "/tags/courses/#{tagname}"}= tagname

            .courses
              - courses.each do |course|
                = render_cell :course, :minicard, :course => course, :user => current_user

  .sidep25
    .cpart.chart
      %h3 个人学习情况统计
      .cha
        .desc
          .d 课程总数
          .c= Course.count
        .page-chart.all-course-read-pie{:data => {:url => "/charts/courses/all_courses_read_pie"}}

  .clearfix