- content_for :header do
  %h1 课程
  .page-desc 浏览系统内的课程

.page-courses-index
  .hot-courses.2week
    .headline
      %h2 最近半个月的热门课程

    :ruby
      courses = Course.top_interactive_sums_of(Date.today, Date.today - 13).limit(4)
    .courses
      - courses.each do |course|
        = render_cell :course, :smallcard, :course => course, :user => current_user

  .all-courses
    .headline
      %h2 课程总清单
    %table.courses
      %tbody
        - @courses.each_slice(3) do |c1, c2, c3|
          %tr
            - [c1, c2, c3].each do |course|
              - if course.present?
                %td.course
                  = link_to truncate_u(course.name, 16), course, :class => 'truncate-text'
              - else
                %td
    = paginate @courses

  .chart
    .headline
      %h2 个人学习情况统计
    .cha
      .desc
        .d 课程总数
        .c= Course.count
      .page-chart.all-course-read-pie{:data => {:url => "/charts/courses/all_courses_read_pie"}}

  .clearfix