- if @courses.present?
  .tag-courses
    .tagname= @tagname
    %table.courses
      %tbody
        - @courses.each_slice(3) do |c1, c2, c3|
          %tr
            - [c1, c2, c3].each do |course|
              - if course.present?
                %td.course
                  = link_to course, :class => 'truncate-text' do
                    %span= truncate_u(course.name, 16)
                    %i.icon-book.icon-white
              - else
                %td