@import 'html5-boilerplate/main';
@import 'html5-boilerplate/normalize';

@import 'mixins';
@import 'form-reset';
@import 'navbar';

html{
  overflow-x:hidden;
  overflow-y:scroll;
}

// ---- 

body{
  font-size:14px;
  background-color:#f8f8f8;
}

body.auth{
  background:url(wallpaper/auth-bg.png);
  color:white;
  text-shadow:0 0 3px black;
  .page-sign-in{
    background-color:rgba(black, 0.5);
    width:600px;
    height:300px;
    position:absolute;
    top:50%;left:50%;
    margin-left:-300px;
    margin-top:-150px;
    form{
      padding:30px;
      .input.string, .input.password{
        overflow:hidden;
        label{
          float:left;
          width:80px;
          text-align:right;
          margin-right:15px;
          height:48px;line-height:48px;
          font-size:16px;
        }
        input{
          padding:0 14px;
          height:48px;line-height:48px;
          font-weight:bold;
          font-size:16px;
          width:300px;
        }
      }
      .input.boolean{
        margin-left:80px + 15px;
      }
      .form-actions{
        margin-left:80px + 15px;
      }
    }
  }
}

body.admin{
  .page-navbar{
    a.brand{
      height:40px;line-height:40px;
      float:left;
      margin-left:40px;
      color:white;
      font-weight:bold;
      font-size:20px;
      text-decoration:none;
    }
  }
}
