//=require html5-boilerplate/main
//=require html5-boilerplate/normalize

//=require simple-page-compoents

@import 'mixins';

html{
  overflow-x:hidden;
  overflow-y:scroll;
}

body{
  font-size:14px;
  background-color:white;
  padding-top:40px;
  position:relative;
  font-family:Helvetica,​Arial,​sans-serif;

  a{
    color:#0088CC;
    text-decoration:none;
    &:hover, &:focus{
      color:#005580;
      text-decoration:underline;
    }
  }
}

body.auth{
  position:static;
  background:url(wallpaper/auth-bg.png);
  color:white;
  text-shadow:0 0 3px black;
  .page-sign-in{
    background-color:rgba(black, 0.5);
    width:600px;
    height:300px;
    position:absolute;
    top:50%;left:50%;
    margin-left:-300px;
    margin-top:-150px;
    form{
      padding:30px;
      .input.string, .input.password{
        overflow:hidden;
        label{
          float:left;
          width:80px;
          text-align:right;
          margin-right:15px;
          height:48px;line-height:48px;
          font-size:16px;
        }
        input{
          padding:6px 14px;
          $h : 48px - 6px * 2;
          height:$h;line-height:$h;
          font-weight:bold;
          font-size:16px;
          width:300px;
        }
      }
      .input.boolean{
        margin-left:80px + 15px;
      }
      .form-actions{
        margin-left:80px + 15px;
      }
    }
  }
}

body{
  .page-navbar{
    a.brand{
      height:40px;line-height:40px;
      float:left;
      margin-left:20px;
      color:white;
      font-weight:bold;
      font-size:20px;
      text-decoration:none;
    }
  }

  $sidebar-width:200px;  
  .page-sidebar{
    position:fixed;
    width:$sidebar-width;
    margin-left:20px;
    margin-top:20px;
    top:40px;left:0;
  }
  .page-content {
    margin-left:20px + $sidebar-width + 20px;
    margin-top:20px;
    margin-right:20px;
  }
}

.page-files-index {
  .operatebar{
    margin-bottom:20px;
    a.upload {
      overflow:hidden;
      input {cursor:pointer;}
    }
  }

  .files-view {
    .page-data-table.files {
      td.name {
        width:500px;
        a {
          float:left;
          max-width:400px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          color:#000;
          &:hover {color:#000;text-decoration:underline;}
        }
      }
    }
  }
}

.page-file-uploader {
  width:600px;

  .list {
    .item {
      border:solid 1px #E5E5E5;
      padding:9px;
      margin-top:-1px;

      &:nth-child(1), &:nth-child(2) {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom:20px;
      }

      .meta {
        font-size:12px;
        overflow:hidden;
        height:20px;line-height:20px;

        .filename {
          float:left;
          width:40%;
          text-overflow:ellipsis;
          height:20px;line-height:20px;
          overflow:hidden;
        }
        .size {float:left;margin-left:20px;}
        .percent {float:right;}
      }
    }
  }
}

// -----

ul.page-breadcrumb {
  background-color:#f5f5f5;
  @include border-radius(4px);
  list-style: none outside none;
  margin:0 0 20px;
  padding:8px 15px;

  & > .active {
    color:#999;
  }

  & > li {
    display:inline-block;
    text-shadow:0 1px 0 #fff;
    & > .divider {
      color:#ccc;
      padding:0 5px;
    }
  }
}