//=require html5-boilerplate/main
//=require html5-boilerplate/normalize

//=require simple-page-compoents

@import 'mixins';

html{
  overflow-x:hidden;
  overflow-y:scroll;
}

body{
  font-size:14px;
  background-color:white;
  padding-top:40px;
  position:relative;

  a{
    color:#0088cc;
    text-decoration:none;
    &:hover, &:focus{
      color:005580;
      text-decoration:underline;
    }
  }
}

body.auth{
  position:static;
  background:url(wallpaper/auth-bg.png);
  color:white;
  text-shadow:0 0 3px black;
  .page-sign-in{
    background-color:rgba(black, 0.5);
    width:600px;
    height:300px;
    position:absolute;
    top:50%;left:50%;
    margin-left:-300px;
    margin-top:-150px;
    form{
      padding:30px;
      .input.string, .input.password{
        overflow:hidden;
        label{
          float:left;
          width:80px;
          text-align:right;
          margin-right:15px;
          height:48px;line-height:48px;
          font-size:16px;
        }
        input{
          padding:6px 14px;
          $h : 48px - 6px * 2;
          height:$h;line-height:$h;
          font-weight:bold;
          font-size:16px;
          width:300px;
        }
      }
      .input.boolean{
        margin-left:80px + 15px;
      }
      .form-actions{
        margin-left:80px + 15px;
      }
    }
  }
}

body.admin{
  .page-navbar{
    a.brand{
      height:40px;line-height:40px;
      float:left;
      margin-left:20px;
      color:white;
      font-weight:bold;
      font-size:20px;
      text-decoration:none;
    }
  }
  .page-sidebar{
    width:240px;
    margin-left:20px;
    margin-top:10px;
  }
}