@mixin border-radius($radius) {
     -moz-border-radius : $radius;
  -webkit-border-radius : $radius;
          border-radius : $radius;
}

@mixin box-shadow($bs) {
     -moz-box-shadow : $bs;
  -webkit-box-shadow : $bs;
          box-shadow : $bs;
}