<p>你好， <%= @resource.email %> ！</p>

<p>有人正尝试通过密码重置功能进行 EduShare 网站的密码重置。如果你并没有进行这个操作，请忽略这封邮件。</p>

<p>如果你确实正在进行密码重置操作，通过下面的链接可以前往密码重置页面：</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你忽略此链接，不进行密码重置操作，你的密码不会有任何更改。</p>
