- content_for :header do
  %h1 管理用户信息

.page-admin-users
  = paginate @users

  = page_data_table(:users, @users, :striped, :bordered) do |table|
    - table.add_line_data(:role)
    - table.add_column(:role)
    - table.add_column(:login)
    - table.add_column(:name)
    - table.add_column(:email)
    - table.add_column(:ops) do |user|
      - if !user.is_admin?
        = link_to t('common.user.edit'), [:edit, :admin, user], :class => 'edit btn mini'