= simple_form_for @user, :url => user_attrs_update_admin_user_path(@user), :method => :put do |f|
  - @user.student_attrs.fields.keys.each do |field|
    = f.input :"student_attrs_#{field}"
  = f.button :submit
