.page-knowledge-test-question-show
  .question.flat-panel.bordered
    .qhead
      .title 这是问题标题
      .clearfix
    .qbody
      .desc 这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文这是问题正文？

      .choices
        %a.choice{:href => 'javascript:;'}
          .oc A
          .text 我是选项我是选项
        %a.choice{:href => 'javascript:;'}
          .oc B
          .text 我是选项我是选项
        %a.choice{:href => 'javascript:;'}
          .oc C
          .text 我是选项我是选项
        %a.choice{:href => 'javascript:;'}
          .oc D
          .text 我是选项我是选项

      .choices.decide
        %a.choice.correct{:href => 'javascript:;'}
          .oc
            %i.icon-ok
          .text 正确
        %a.choice.error{:href => 'javascript:;'}
          .oc
            %i.icon-remove
          .text 错误

      .input-code
        %pre#code hahaha

      .result
        .my-choice
          我的选择：A, B, D

        .btns
          %a.reset-code.btn.info-flat{:href => 'javascript:;'}
            %i.icon-refresh
            %span 重置代码
          %a.submit.btn.success-flat{:href => 'javascript:;'}
            %i.icon-ok
            %span 确定