.course.page-course.card.mini
  %a.course-link{:href => "/courses/#{@course.id}"}
    .cover
      = fit_image @course.cover.versions[:normal].url, :height => 100
    .desc
      = simple_format truncate_u(@course.desc, 64)
    .go-study
      %span= truncate_u(@course.name, 8)
      %i.icon-chevron-right.icon-white