- if R::INHOUSE
  - if @user.is_student?
    :ruby
      sca = @user.select_course_applies.by_course(@course).first
      klass = sca.blank? ? '' : sca.status.downcase

    .student-select-course{:class => klass}
      - if @course.apply_request_is_full?
        .full 选课人数已满

      - else
        %a.doselect{:href => 'javascript:;', :data => {:id => @course.id}}
          %span 我要选课
        - if @course.have_apply_request_limit?
          - if @course.apply_request_is_full?
          - else
            .limit
              .desc 剩余名额
              .n= @course.remaining_apply_request_count


      .info.request
        %i.icon-info-sign
        %span 选课等待审核
      .info.accept
        %i.icon-ok-sign
        %span 选课已成功
      .info.reject
        %i.icon-info-sign
        %span 选课未选中