- if R::INHOUSE
  - if @user.is_student?
    :ruby
      sca = @user.select_course_applies.by_course(@course).first
      klass = sca.blank? ? '' : sca.status.downcase

    -# REQUEST ACCEPT REJECT

    .student-select-course{:class => klass}
      %a.doselect{:href => 'javascript:;', :data => {:id => @course.id}}
        %span 我要选课

      .info.request
        %i.icon-info-sign
        %span 选课审核中，
        %a.btn.small.danger-flat.cancel-select{:href => 'javascript:;', :data => {:id => @course.id}}
          %i.icon-remove.icon-white
          %span 取消选课
      .info.accept
        %i.icon-ok-sign
        %span 选课已成功，
        %a.btn.small.danger-flat.cancel-select{:href => 'javascript:;', :data => {:id => @course.id}}
          %i.icon-remove.icon-white
          %span 取消选课
      .info.reject
        %i.icon-info-sign
        %span 选课未选中