- if R::INHOUSE
  - if @user.is_student?
    :ruby
      sca = @user.select_course_applies.by_course(@course).first
      klass = sca.blank? ? '' : sca.status.downcase

    .student-select-course{:class => klass}
      %a.doselect{:href => 'javascript:;', :data => {:id => @course.id}}
        %span 我要选课

      .info.request
        %i.icon-info-sign
        %span 选课等待审核
      .info.accept
        %i.icon-ok-sign
        %span 选课已成功
      .info.reject
        %i.icon-info-sign
        %span 选课未选中