- title = t('common.site.title.admin')

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'admin' do
  = render_cell :layout, :topnav_admin, :user => current_user
  = render_cell :layout, :sidebar, :user => current_user

  .page-layout-application.admin
    .page-content
      - header_content = yield :header
      - if header_content.present?
        .content-header= header_content
      = yield
      .clearfix