- title = t('common.site.title.admin')
- home_title = t('common.site.home_title.admin')

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'admin' do
  .page-sidebar
    = simple_navbar :admin, :as_list, :with_icon

  = page_navbar(:fixed_top, :color_inverse) do |navbar|
    - navbar.add_item('首页', '/admin')
    - navbar.add_item('设置密码', '/admin/setting/password')
    - navbar.add_item('退出登录', '/account/sign_out')
    - navbar.prepend link_to(home_title, '/admin', :class => :brand)

  .page-search-bar
  .page-content-header
    = yield :header

  .page-content
    .content-inner
      = yield